<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="567f5752-96b0-4c6b-9f36-0097690e36b9"
            Publisher="CN=voyager"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>LibrelioApplication</DisplayName>
    <PublisherDisplayName>voyager</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="LibrelioApplication.App">
        <VisualElements
            DisplayName="ms-resource:app_name"
            Logo="Assets\icon.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="ms-resource:app_name"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\startup_background.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>